PORT=5000

# This was inserted by `prisma init`:

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# MongoDB Url

MONGODB_URI="mongodb+srv://shopprixity:shopprixity@shopprixity.92dlt.mongodb.net/Shopprixity"

# Jsonwebtoken

JWT_SECRET=a18109c5-89e2-494c-a9fd-f994692de53c

# cloudinary

CLOUDINARY_CLOUD_NAME=rajesh-ranjan-cloudinary
CLOUDINARY_API_KEY=614915147647189
CLOUDINARY_API_SECRET=T0f0d3sOM_YyGgfauKvAQk5Zp90

# PayPal

PAYPAL_API_CLIENT_ID=AVwVJzYBEU8EQJos0-juDkvWPJm-jvXvBUY_QPGoViYOrO6u9byoLe2d2Y8WYfCmJbudBHfwK1gQVlcj
PAYPAL_API_SECRET=EFCvKkFbFl38FtPHNA6T7lwUgmfGJV0jOQt15mq-p612IVkx16HEHLSy8N7os1nAzG6EWFS2CrtqK1Kh
